/* setting the default margin and padding to 0px */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:monospace;
}

/* variable declared for colours for the website */ 
:root{
    --primary:#2274a5;
    --secondary:#3afacd;
    --alt:#b5e6db;
    --dark:#212122;    
    --light:#e7e5e5;
} 

/* code from here applies to all the pages*/
/* putting the background color of the whole page dark */

html{
    background-color:var(--dark);
    overflow-x:hidden;
}

    /* code for navbar starts */

/* in header postion:sticky; is used to make the navbar to always stay on the top
   box-shadow is used to make the box shadow blur and 5px */

header{
    position:sticky;
    top:0;
    box-shadow:5px 5px 3px var(--dark); 
    background-color:var(--dark);
}

/* inline-flex is used to make the contents inside navbar in a straight horizontal line
    space-around is used to align the contents in navbar horizontally with space around nature.
    gap is given so that the contents have some gap between them */

.navbar{
    display:flex;
    justify-content:space-around;
    width:90%;
    height:100px;
    margin:auto;
    gap:10%;
}

/* width of the logo is 200px*/

.navbar .logo figure{
    display:flex;
    width:200px;
}

/* width of the logo is 100% that fits in the container figure */

.navbar .logo figure img{
    width:100%;
    height:90px;
}

/* display:flex; is used to make the contents align horizontally and in center. */
nav.centernav{
    display:flex;
    align-items:center;
}

/* the liststyle is set to none to make the bullet points disappear from the listitems
    inline-flex is used to make the contents align horizontally with 40px of space between them. */
.centernav ul{
    list-style:none;
    display:inline-flex;
    gap:40px;
    margin:auto;
    align-items:center;
}

/* text decoration is none to remove the underline fron the anker. 
transition is given 0.3 seconds so that hover animations will appear slower and disappear slower*/
.centernav a{ 
    text-decoration:none;
    border-radius:30px;
    display:flex;
    margin:auto;
    align-items:center;
    justify-content: center;
    width:90px;
    height:90px;
    padding:10px;
    color:var(--light);
    font-size:16px;
    font-family:monospace;
    transition:0.3s ease-in-out; 
}

/* when we hover over the anker links, the background color, text color and text-decoration changes. */
.centernav a:hover{
    background-color:var(--primary);
    color:var(--secondary);
}

/* flex direction specifies in what direction the flex aligns either horizontal or vertical  */
.centernav li {
    display:flex;
    margin:auto;
    align-items:center;
    flex-direction:column;
    text-align:center;
}

nav.rightnav{
    display:flex;
    align-items:center;
}

.rightnav ul{
    list-style:none;
    display:inline-flex;
    margin:auto;
    align-items:center;
    gap:40px;
}

.rightnav .searchbox{
    display:flex;  
    border: 2px solid var(--secondary); 
    border-radius:10px;
    padding:3px 10px;
}

.searchbox img{
    width:25px;
}

.searchbox input{
    background-color:transparent; 
    border:none;
    border-color:transparent;
    text-align:center;
    color:var(--secondary);
}
.searchbox input:focus{
    outline:none;
}

.rightnav a{
    text-decoration:none;
    border-radius:30px;
    display:flex;
    margin:auto;
    align-items:center;
    justify-content: center;
    width:90px;
    height:90px;
    padding:10px;
    color:var(--light);
    font-size:16px;
    font-family:monospace;
    transition:0.3s ease-in-out; 
}

.rightnav a:hover{
    background-color:var(--primary);
    color:var(--secondary);
    text-decoration:underline;
}

.rightnav li{
    display:flex;
    margin:auto;
    align-items:center;
    flex-direction:column;
}

figure.link{
    display:flex;
    width:30px;
}

figure.link img{
    width:100%;
}

nav ul a.current{
    background-color:var(--primary);
}

    /* code for navbar ends */

/* the code till here applies to all the webpages */

/* the code from here applies to home page, product page and printer pages */

main{
    display:flex;
    width:90%;
    margin:auto;
}

.productcontent{
    display:flex;
    flex-direction:column ;
    width:90%;
    margin:auto;
}

.productcontent .product{
    margin:20px;
    padding:10px;
    border:2px solid var(--light);
    box-shadow:0px 0px 10px var(--light);
    border-radius:30px; 
}

.productcontainer{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:10px;
    border-radius: 20px;
}

.productitem{
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width:30%;
    margin:10px;
    flex-direction: column;
    align-items:center;
    border:2px solid var(--alt);
    border-radius:10px;
    padding:10px;
    transition: 0.3s ease-in-out;
}

.productitem:hover{
    background-color: var(--primary);
    box-shadow: 0px 0px 20px var(--light);
}

.productitem h1{
    margin-top:10px;
    font-size:18px;
    padding:5px;
    color:var(--light);
    text-align:center;
    border-bottom:2px solid var(--secondary);
    border-radius:15px;
    box-shadow: 0px 0px 5px var(--primary);
}

.productitem figure{
    width:200px;
}

.productitem img{
    width:100%;
    border-radius:10px;
}

.description ul{
    padding:5px;
    margin-left:15px;
    border-left:5px solid var(--light)
}

.description li{
    list-style:none;
    color:var(--light);
}

.description .price{
    padding-left: 10px;
    margin-top:7px;
    margin-left:15px;
    color:var(--secondary);
    border-left: 5px solid var(--secondary);
}

.productitem .buy-more {
    display:flex;
    align-items: center;
    gap:10px;
}

.buy a{
    text-decoration: none;
    color:var(--light);

}

.buy p{
    font-size:10px;
    margin:5px;
    padding:10px 20px;
    border:2px solid var(--secondary);
    border-radius:20px;
}

.buy p:hover{
    color:var(--dark);
    background-color: var(--secondary);
    box-shadow: 0px 0px 10px var(--dark);
}

.more a{
    text-decoration: none;
    color:var(--light);
    box-shadow: 0px 0px 5px var(--secondary)
}

.more p{
    font-size:10px;
    margin:5px;
    padding:10px 20px;
    border:2px solid var(--light);
    border-radius:20px;
}

.more p:hover{
    color:var(--dark);
    background-color: var(--light);
    box-shadow: 0px 0px 10px var(--dark);
}

    /* code ends for the products displayed on homepage and products page */

    /* code for main division ends */

/* the code till here applies to homepage and product page only */



/* the code from here applies to product page only */

    /* code starts for navigation bar of products */
.prodnav{
    margin-top:20px;
    display:flex;
    width:100%;
    border:2px solid var(--secondary);
    border-radius:35px;
}
.prodnav ul{
    list-style:none;
    display:flex;
    width:100%;
    margin:auto;
    height:60px;
    gap:10px;
    padding:10px;
    align-items:center;
    border-radius:20px;
    justify-content: space-around;
}

.prodnav a{
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    padding:10px;
    justify-content: center;
    text-decoration:none;
    color:var(--light);
    border-radius:20px;
    transition: 0.2s ease-in-out;
}

.prodnav li{
    text-align:center;
}

.prodnav a:hover{
    color:var(--dark);
    text-decoration:underline;
    background-color:var(--secondary);
}

a.currentprodnav{
    background-color:var(--secondary);
    color:var(--dark);
}
    /* code ends for the navbar of products */

    /* code starts for header for type of printers */

.productsheader{
    display:flex;
    align-items:center;
    width:90%;
    margin:auto;
    justify-content: space-between;
}

.productsheader p{
    color:var(--secondary);
    text-align:center;
    font-size:20px;
    border-left:3px solid var(--secondary);
    border-right:3px solid var(--secondary);
    margin-top:20px;
    padding:4px 10px;
    border-radius:10px;
}

/* the code till here applies to product page only */

/* the code from here applies to blog page only */



.blog-main {
    color: var(--primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blog-main h1 {
    margin-bottom: 8px;
    padding: 15px;
    font-size: 70px;
}

.outer-box {
    border: 2px solid var(--primary);
    margin:30px 0px;
    padding: 24px 20px;
    border-radius: 25px;
    color: var(--dark);
    box-shadow: 0px 0px 10px var(--light);
}

.mainblog-title {
    margin-bottom: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary);
    text-align: center;
}
.mainblog-author {
    margin-bottom: 40px;
    color: var(--alt);
    text-align: center;
    margin-left: 12px;
    font-size: 12px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraph-half {
    color: var(--light);
    margin-bottom: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}
.readmore {
    padding: 10px;
    background-color: var(--dark);
    border: 2px solid var(--secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition:0.3s ease-in-out;
    color: var(--light);
    font-size: 10px;

}
.readmore:hover {
    background-color: var(--secondary);
    color: var(--dark);
    box-shadow: 0px 0px 5px var(--light);
}
.readmore:active {
    font-size: 9px;
}
.readmore-blog {
    text-align: right;
}


/*  Blog second page css */

.detailblog-container {
    display: inline-block;
    border: 2px solid var(--primary);
    padding: 24px 20px;
    border-radius: 25px;
    color: var(--dark);
    box-shadow: 0px 0px 20px rgba(166, 166, 166, 0.541);
}
.entry-header-dash {
    background-color: var(--primary);
    width: 60px; height: 8px;
    margin-left: 60px;
}
.list-header-dash {
    background-color: var(--primary);
    width: 40px; height: 8px;
    margin-bottom: 12px;
}

.blog-quote {
    color: var(--alt);
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.detailblog-title {
    color: var(--alt);
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}

.points-title {
    color: var(--primary);
    margin-top: 40px;
    font-size: 28px;
    margin-bottom: 20px;
}
.blog-points {
    color: var(--light);
    font-size: 16px;
    margin-top: 12px;
    line-height: 24px;
    margin-bottom: 40px;
}
.bloglists-title {
    color: var(--light);
    font-size: 22px;
    margin-bottom: 25px;
}
.full-explain {
    color: rgba(207, 207, 207, 0.906);
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}

/* the code above applies to blog page only. */

/* the code from here applies to login and signup and contant pages */

.logreg{
    width:70%;
    height:700px;
    margin:auto;
    margin-top:5%;
    border-radius:10px;
    background-color: var(--primary);
    display:flex;
}

.logreg .leftside{
    background-color: var(--alt);
    height:auto;
    width:30%;
    border-radius:10px 20px 20px 10px;
    box-shadow: 0px 0px 50px var(--dark);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:100px;
}

.leftside .leftcontainer{
    width:100%;
}

.leftside .leftcontent{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:70px;
    float:right;
    transition:0.3s ease-in-out;
}
.leftside .login, .leftside .signup{
    padding:30px;
    border-radius: 20px 0px 0px 20px;
}

.leftside a{
    text-decoration:none;
    color:var(--dark);
}

.leftside h1{
    text-align:center;
}

.leftcontent #currentlogreg{
    background-color:var(--primary);
}

.leftcontent a:hover{
    color:var(--dark);
}

.logreg .rightside{
    width:70%;
    display:flex;
}

.rightcontainer{
    width:100%;
    display:flex;
    justify-content:center;
}

.rightcontainer .rightcontent{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.rightcontainer .form{
    width:100%;
    margin:auto;
}

.form fieldset.dualformcontent{
    display:flex;
    padding:3px;
    border:2px solid var(--secondary);
    border-radius:5px;
}

.form fieldset.formcontent{
    padding:3px;
    border:2px solid var(--secondary);
    border-radius:5px;
}

.form .name input[type="text"], .form .password input[type="password"]{
    width:49%;
    margin:auto;
    padding:10px;
    border:2px solid var(--light);
    border-radius:5px;
    background-color:var(--alt);
}

.form .logpassword input[type="password"]{
    width:100%;
    margin:auto;
    padding:10px;
    border:2px solid var(--light);
    border-radius:5px;
    background-color:var(--alt);
}

.form .email input[type=text]{
    width:100%;
    background-color:var(--alt);
    padding:10px;
    border-radius:5px;
    border:2px solid var(--light);
}

.form .phonerole{
    display:flex;
    gap:10px;
}

.phonerole .phone{
    flex:50%;
    flex-wrap:wrap;
}

.phonerole .role, .region {
    flex:50%;
}

.form .role .dropdown                                                                                                                   
{
    width:100%;
}

.role select,.region select{
    width:100%;
    padding:10px;
    background-color:var(--alt);
    border-radius:5px;
    border:2px solid var(--light);
}

.form .phone input[type="text"]{
    width:100%;
    border:2px solid var(--light);
    background-color:var(--alt);
    padding:10px;
    border-radius:5px;
}

.form .gender fieldset.formcontent{
    padding:10px;
    border:2px solid var(--secondary);
    border-radius:5px;
    display:flex;
    width:60%;
    justify-content:center;
    gap:20px;
}

.gender label{
    padding:5px;
    border-radius:5px;
    font-size:16px;
    background-color:var(--alt);
}

.gender label:hover{
    cursor:pointer;
}

.checkbox label{
    color:var(--secondary);
    font-size:15px;
}

fieldset legend{
    color:var(--secondary);
    font-size:14px;
}

.form .submit button,.form .login button{
    padding:10px;
    background-color: var(--alt);
    border:2px solid var(--light);
    border-radius:5px;
    width:40%;
    transition: 0.2s ease-in-out;
}

.form .submit button:hover,.form .login button:hover{
    background-color:var(--dark);
    color:var(--light);
    box-shadow: 0px 0px 15px var(--dark);
}

.socials img{
    width:40px;
    height:40px;
}

.socials button{
    background-color:var(--primary);
    border:none;
}

button:hover{
    cursor:pointer;
}

.havacct a{
    color:var(--secondary);
    text-decoration:none;
}

.havacct a:hover{
    color:var(--light);
    text-decoration:underline;
}

/* the code above applies to login and signup and contact pages */

/* the code from here applies to all the footers */

footer{
    width:100%;
    height:20vh;
    background-color:var(--primary);
    border-radius: 40% 40% 0px 0px;
    margin-top:3%;
}

.footercontent h1{
    text-align:center;
    font-size:50px;
}

footer .links{
    padding:20px;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:center;
}

footer .links a{
    text-decoration:none;
    color:var(--secondary);
    padding:10px 40px;
    font-size:16px;
}

footer .links a:hover{
    color:var(--alt);
}

footer .socialiconsf{
    display:flex;
    justify-content: center;
    gap:0.5%;
    padding:10px;
}

footer .socialiconsf button{
    background-color:transparent;
    border:none;
}
footer .socialiconsf img{
    width:40px;
    height:auto;
    background-color:transparent;
}





