*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    --primary:#2274a5;
    --secondary:#83b692;
    --dark:#1e1e24;    
    --light:#ebd4cb;

}

html{
    background-color:var(--dark)
}

header{
    background-color:transparent;

}
.navbar{
    display:flex;
    width:80%;
    margin:auto;
    justify-content:space-between;
    gap:150px;
}

/* this code is for the image logo in the website*/

.logo > figure{
    display:flex;
    width:200px;
    height:auto;
    align-items:center;
}
figure > img{
    width:100%;
    margin:10px auto;
    background-color: var(--primary);
    border-radius: 50%;
}

nav{
    display:flex;
    margin: 10px auto;
    align-items:center;
    justify-content:center;
}

nav > ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:10px;
    margin:auto;
}

nav > ul > li {
    display:flex;
    margin:auto;
}
nav > ul > li > a{
    display:flex;
    margin: 10px auto;
    align-items:center;
    justify-content:center;
    gap:5px;
}

nav> ul > li > a >img{
    width:10%;
    color:#ffffff;
    transition: filter 0.3s ease-in-out;
}

a{
    text-decoration:none;
    color:var(--light);
}
a:hover{
    color:var(--secondary);
}

nav> ul > li > a >img:hover{
    filter:blur(1px)
}

.rightlinks > ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:10px;
    margin:auto;
}

.rightlinks > ul > li{
    display:flex;
    margin:auto;
}

.rightlinks> ul > li > a{
    display:flex;
    margin: 10px auto;
    align-items:center;
    justify-content:center;
    gap:5px;
}

.rightlinks > ul > li > img{
    width:10%;
}









