*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

:root{
    --primary:#2274a5;
    --secondary:#83b692;
    --dark:#1e1e24;    
    --light:#ebd4cb;
    --alt:#8ebbff;
}

html{
    background-color:var(--dark);
}

header{
    background-color:transparent; 
    display:inline-block;
    margin:auto;
}

.searchbox{
    display:flex;
    margin:auto;
    align-items:center;
    justify-content: center;
    width:200px;
}

.searchbox > button > img{
    width:40%;
}
.navbar{
    display:flex;
    width:90%;
    margin:auto;
    justify-content:space-between;
    gap:150px;
}

/* this code is for the image logo in the website*/

.logo > figure{
    display:flex;
    width:150px;
    height:auto;
    align-items:center;
}
figure > img{
    width:100%;
    margin:auto;
}

nav{
    display:flex;
    margin: 5px auto;
    align-items:center;
    justify-content:center;
}

nav > ul{
    list-style:none;
    display:flex;
    justify-content:space-around;
    gap:10px;
    margin:auto;
}
nav> ul> li{
    border-bottom:1px solid var(--primary);
    border-top: 0.1px solid var(--light);
    border-radius:50%;
}
li:hover{
    background-color:#808080;
}

nav > ul > li > a{
    display:flex;
    flex-direction:column;
    margin: 10px auto;
    align-items:center;
    justify-content: center;
}

nav> ul > li > a >img{
    width:15%;
}

a{
    text-decoration:none;
    color:var(--light);
}


a:hover{
    color:var(--secondary);
    text-decoration:underline;
}


main{
    margin:100px;
    background-color: var(--alt);
    
    width:80%;
    margin:200px auto;

}

p{
    margin:100px;
}

p {
    font-size: 2em;
    max-width: 80%;
  }
  